In [1]:
import pandas as pd
import numpy as np

reviews = pd.read_csv("winemag-data_first150k.csv", index_col=0)

In [2]:
reviews.dtypes

country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

In [3]:
reviews.country.dtype

dtype('O')

In [4]:
reviews.price.dtype

dtype('float64')

In [6]:
reviews.points = reviews.points.astype('float64')
# int, float, float32, float64

In [7]:
reviews.points.dtype

dtype('float64')

In [8]:
reviews.dtypes

country         object
description     object
designation     object
points         float64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

In [9]:
reviews.index.dtype

dtype('int64')

In [11]:
reviews[reviews.country.isnull()]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90.0,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis
1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90.0,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ
68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81.0,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81.0,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81.0,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas

In [13]:
reviews[pd.isnull(reviews.country)]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90.0,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis
1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90.0,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ
68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81.0,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81.0,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81.0,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas

In [14]:
reviews.region_2.isnull().sum()

89977

In [15]:
reviews.region_2 = reviews.region_2.fillna("Unkown")

In [16]:
reviews.region_2.isnull().sum()

0

In [17]:
reviews.region_2.value_counts()

Unkown                     89977
Central Coast              13057
Sonoma                     11258
Columbia Valley             9157
Napa                        8801
California Other            3516
Willamette Valley           3181
Mendocino/Lake Counties     2389
Sierra Foothills            1660
Napa-Sonoma                 1645
Finger Lakes                1510
Central Valley              1115
Long Island                  771
Southern Oregon              662
Oregon Other                 661
North Coast                  632
Washington Other             593
South Coast                  198
New York Other               147
Name: region_2, dtype: int64

In [19]:
reviews.region_2 = reviews.region_2.replace("Unkown","not_found")

In [20]:
reviews.region_2.value_counts()

not_found                  89977
Central Coast              13057
Sonoma                     11258
Columbia Valley             9157
Napa                        8801
California Other            3516
Willamette Valley           3181
Mendocino/Lake Counties     2389
Sierra Foothills            1660
Napa-Sonoma                 1645
Finger Lakes                1510
Central Valley              1115
Long Island                  771
Southern Oregon              662
Oregon Other                 661
North Coast                  632
Washington Other             593
South Coast                  198
New York Other               147
Name: region_2, dtype: int64