In [104]:
import pandas as pd
import numpy as np

In [103]:
reviews = pd.read_csv("winemag-data_first150k.csv", index_col=0)
# pd.set_option('max_rows', 5)

In [4]:
reviews.head(5)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [5]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

# accessing columns

## using dot(.)

In [10]:
reviews.points / 5

0         19.2
1         19.2
2         19.2
3         19.2
4         19.0
          ...
150925    18.2
150926    18.2
150927    18.2
150928    18.0
150929    18.0
Name: points, Length: 150930, dtype: float64

## using square bracket []

In [11]:
reviews['points']

0         96
1         96
2         96
3         96
4         95
          ..
150925    91
150926    91
150927    91
150928    90
150929    90
Name: points, Length: 150930, dtype: int64

## selecting multiple columns [a list of column names]

In [12]:
cols = ['country', 'description']

In [13]:
reviews[cols]

       country                                        description
0           US  This tremendous 100% varietal wine hails from ...
1        Spain  Ripe aromas of fig, blackberry and cassis are ...
2           US  Mac Watson honors the memory of a wine once ma...
3           US  This spent 20 months in 30% new French oak, an...
4       France  This is the top wine from La Bégude, named aft...
...        ...                                                ...
150925   Italy  Many people feel Fiano represents southern Ita...
150926  France  Offers an intriguing nose with ginger, lime an...
150927   Italy  This classic example comes from a cru vineyard...
150928  France  A perfect salmon shade, with scents of peaches...
150929   Italy  More Pinot Grigios should taste like this. A r...

[150930 rows x 2 columns]

In [14]:
reviews[['country', 'description']]

       country                                        description
0           US  This tremendous 100% varietal wine hails from ...
1        Spain  Ripe aromas of fig, blackberry and cassis are ...
2           US  Mac Watson honors the memory of a wine once ma...
3           US  This spent 20 months in 30% new French oak, an...
4       France  This is the top wine from La Bégude, named aft...
...        ...                                                ...
150925   Italy  Many people feel Fiano represents southern Ita...
150926  France  Offers an intriguing nose with ginger, lime an...
150927   Italy  This classic example comes from a cru vineyard...
150928  France  A perfect salmon shade, with scents of peaches...
150929   Italy  More Pinot Grigios should taste like this. A r...

[150930 rows x 2 columns]

In [15]:
review2 = reviews[['country', 'description']]

In [16]:
review2.shape

(150930, 2)

In [17]:
review2.head()

  country                                        description
0      US  This tremendous 100% varietal wine hails from ...
1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2      US  Mac Watson honors the memory of a wine once ma...
3      US  This spent 20 months in 30% new French oak, an...
4  France  This is the top wine from La Bégude, named aft...

In [20]:
type(reviews.country)

pandas.core.series.Series

In [19]:
reviews.country[0]

'US'

In [21]:
reviews.country[0:5]

0        US
1     Spain
2        US
3        US
4    France
Name: country, dtype: object

In [22]:
reviews.country[50:]

50         Italy
51        France
52        France
53        France
54            US
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150880, dtype: object

In [23]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

# iloc for getting rows by number

In [24]:
reviews.iloc[0]

country                                                       US
description    This tremendous 100% varietal wine hails from ...
designation                                    Martha's Vineyard
points                                                        96
price                                                      235.0
province                                              California
region_1                                             Napa Valley
region_2                                                    Napa
variety                                       Cabernet Sauvignon
winery                                                     Heitz
Name: 0, dtype: object

In [25]:
reviews.iloc[0:2]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez

In [26]:
# reviews.iloc["row index", "column index"]
reviews.iloc[:, 0] # : get all row values for column index

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [28]:
reviews.iloc[:, 0:2]

       country                                        description
0           US  This tremendous 100% varietal wine hails from ...
1        Spain  Ripe aromas of fig, blackberry and cassis are ...
2           US  Mac Watson honors the memory of a wine once ma...
3           US  This spent 20 months in 30% new French oak, an...
4       France  This is the top wine from La Bégude, named aft...
...        ...                                                ...
150925   Italy  Many people feel Fiano represents southern Ita...
150926  France  Offers an intriguing nose with ginger, lime an...
150927   Italy  This classic example comes from a cru vineyard...
150928  France  A perfect salmon shade, with scents of peaches...
150929   Italy  More Pinot Grigios should taste like this. A r...

[150930 rows x 2 columns]

In [30]:
reviews.iloc[:10, 0]

0        US
1     Spain
2        US
3        US
4    France
5     Spain
6     Spain
7     Spain
8        US
9        US
Name: country, dtype: object

In [31]:
reviews.iloc[[0, 1, 200], 0]

0         US
1      Spain
200       US
Name: country, dtype: object

In [32]:
reviews.iloc[-5:]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [33]:
reviews.tail()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [34]:
reviews.iloc[:, 0]

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [35]:
reviews.loc[:, 'country']

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [36]:
reviews.loc[:, ['country', 'points']]

       country  points
0           US      96
1        Spain      96
2           US      96
3           US      96
4       France      95
...        ...     ...
150925   Italy      91
150926  France      91
150927   Italy      91
150928  France      90
150929   Italy      90

[150930 rows x 2 columns]

In [42]:
reviews.iloc[0:10, [0, 1]]

  country                                        description
0      US  This tremendous 100% varietal wine hails from ...
1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2      US  Mac Watson honors the memory of a wine once ma...
3      US  This spent 20 months in 30% new French oak, an...
4  France  This is the top wine from La Bégude, named aft...
5   Spain  Deep, dense and pure from the opening bell, th...
6   Spain  Slightly gritty black-fruit aromas include a s...
7   Spain  Lush cedary black-fruit aromas are luxe and of...
8      US  This re-named vineyard was formerly bottled as...
9      US  The producer sources from two blocks of the vi...

In [37]:
reviews.loc[0:10, ['country', 'points']]

   country  points
0       US      96
1    Spain      96
2       US      96
3       US      96
4   France      95
5    Spain      95
6    Spain      95
7    Spain      95
8       US      95
9       US      95
10   Italy      95

In [39]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [41]:
reviews.loc[:, ['country', 'description', 'designation']]

,country,description,designation
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest
3,US,"This spent 20 months in 30% new French oak, an...",Reserve
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade
...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN

In [43]:
reviews.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            150920, 150921, 150922, 150923, 150924, 150925, 150926, 150927,
            150928, 150929],
           dtype='int64', length=150930)

In [44]:
reviews.set_index("country")

,description,designation,points,price,province,region_1,region_2,variety,winery
country,,,,,,,,,
US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...
Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [45]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [46]:
reviews = reviews.set_index("country")

In [47]:
reviews.head()

,description,designation,points,price,province,region_1,region_2,variety,winery
country,,,,,,,,,
US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [48]:
reviews = reviews.reset_index()

# Conditional selection

In [50]:
reviews.country[0]

'US'

In [49]:
reviews.country == "US"

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [51]:
reviews.country == "US"

0          True
1         False
2          True
3          True
4         False
          ...
150925    False
150926    False
150927    False
150928    False
150929    False
Name: country, Length: 150930, dtype: bool

In [52]:
reviews.country == 'Italy'

0         False
1         False
2         False
3         False
4         False
          ...
150925     True
150926    False
150927     True
150928    False
150929     True
Name: country, Length: 150930, dtype: bool

In [53]:
reviews[reviews.country == 'Italy']

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
35,Italy,"Forest floor, tilled soil, mature berry and a ...",Riserva,90,135.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Carillon
37,Italy,"Aromas of forest floor, violet, red berry and ...",NaN,90,29.0,Tuscany,Vino Nobile di Montepulciano,NaN,Sangiovese,Avignonesi
38,Italy,"This has a charming nose that boasts rose, vio...",NaN,90,23.0,Tuscany,Chianti Classico,NaN,Sangiovese,Casina di Cornia
...,...,...,...,...,...,...,...,...,...,...
150920,Italy,"Rich and mature aromas of smoke, earth and her...",Brut Riserva,91,19.0,Northeastern Italy,Trento,NaN,Champagne Blend,Letrari
150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [56]:
reviews.loc[reviews.country == 'Italy'].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
35,Italy,"Forest floor, tilled soil, mature berry and a ...",Riserva,90,135.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Carillon
37,Italy,"Aromas of forest floor, violet, red berry and ...",NaN,90,29.0,Tuscany,Vino Nobile di Montepulciano,NaN,Sangiovese,Avignonesi
38,Italy,"This has a charming nose that boasts rose, vio...",NaN,90,23.0,Tuscany,Chianti Classico,NaN,Sangiovese,Casina di Cornia

In [58]:
df_rev = reviews.loc[reviews.country == 'Italy', ["country","points"]]

In [61]:
reviews.country == 'Italy'

0         False
1         False
2         False
3         False
4         False
          ...
150925     True
150926    False
150927     True
150928    False
150929     True
Name: country, Length: 150930, dtype: bool

In [62]:
reviews.points >= 90

0         True
1         True
2         True
3         True
4         True
          ...
150925    True
150926    True
150927    True
150928    True
150929    True
Name: points, Length: 150930, dtype: bool

In [66]:
False and False

False

In [ ]:
reviews.country == 'Italy'
reviews.points >= 90

In [67]:
# and, &, |
(reviews.country == 'Italy') & (reviews.points >= 90)

0         False
1         False
2         False
3         False
4         False
          ...
150925     True
150926    False
150927     True
150928    False
150929     True
Length: 150930, dtype: bool

In [69]:
dfx = reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

In [74]:
dfx.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
35,Italy,"Forest floor, tilled soil, mature berry and a ...",Riserva,90,135.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Carillon
37,Italy,"Aromas of forest floor, violet, red berry and ...",NaN,90,29.0,Tuscany,Vino Nobile di Montepulciano,NaN,Sangiovese,Avignonesi
38,Italy,"This has a charming nose that boasts rose, vio...",NaN,90,23.0,Tuscany,Chianti Classico,NaN,Sangiovese,Casina di Cornia

In [76]:
dfx.loc[:, ['country','points']]

       country  points
10       Italy      95
32       Italy      90
35       Italy      90
37       Italy      90
38       Italy      90
...        ...     ...
150920   Italy      91
150922   Italy      91
150925   Italy      91
150927   Italy      91
150929   Italy      90

[7945 rows x 2 columns]

In [77]:
dfx.describe()

            points        price
count  7945.000000  6465.000000
mean     91.519698    62.214849
std       1.607712    50.113440
min      90.000000     9.000000
25%      90.000000    36.000000
50%      91.000000    50.000000
75%      92.000000    72.000000
max     100.000000   900.000000

In [84]:
reviews.country.nunique()

48

In [83]:
reviews.country.unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

In [85]:
dfx.country.nunique()

1

In [82]:
dfx.country.unique()

array(['Italy'], dtype=object)

In [78]:
dfx.country.value_counts()

Italy    7945
Name: country, dtype: int64

In [80]:
reviews.country.value_counts()

US                        62397
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
England                       9
Luxembourg                    9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
Switzerland                   4
South Korea                   4
Bosnia and Herzegovina        4
China                         3
Egypt                         3
Slovakia                      3
Tunisia                       2
Albania                       2
Montenegro                    2
Japan                         2
US-France                     1
Name: country, dtype: int64

In [86]:
dfy = reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

In [87]:
dfy.describe()

             points         price
count  63743.000000  54771.000000
mean      90.449336     47.412262
std        2.626864     50.687574
min       80.000000      5.000000
25%       90.000000     22.000000
50%       91.000000     36.000000
75%       92.000000     55.000000
max      100.000000   2300.000000

In [89]:
dfy.country.unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'Morocco',
       'Germany', 'Canada', 'Moldova', 'Hungary', 'Chile', 'Greece',
       'Austria', 'Slovenia', nan, 'India', 'Croatia', 'Turkey',
       'Lebanon', 'Uruguay', 'Switzerland', 'South Africa', 'England',
       'Georgia', 'Romania', 'Mexico'], dtype=object)

In [90]:
dfy.loc[:, ['country','points']]

       country  points
0           US      96
1        Spain      96
2           US      96
3           US      96
4       France      95
...        ...     ...
150925   Italy      91
150926  France      91
150927   Italy      91
150928  France      90
150929   Italy      90

[63743 rows x 2 columns]

In [ ]:
.isin(['US', 'Spain', 'France', 'Italy'])

In [92]:
reviews.loc[reviews.country.isin(['Italy', 'France','Spain'])]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
6,Spain,Slightly gritty black-fruit aromas include a s...,San Román,95,65.0,Northern Spain,Toro,NaN,Tinta de Toro,Maurodos
7,Spain,Lush cedary black-fruit aromas are luxe and of...,Carodorum Único Crianza,95,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [93]:
reviews.isnull()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...
150925,False,False,True,False,False,False,False,True,False,False
150926,False,False,False,False,False,False,False,True,False,False
150927,False,False,False,False,False,False,False,True,False,False
150928,False,False,False,False,False,False,False,True,False,False
150929,False,False,True,False,False,False,False,True,False,False

In [94]:
reviews.isnull().sum()

country            5
description        0
designation    45735
points             0
price          13695
province           5
region_1       25060
region_2       89977
variety            0
winery             0
dtype: int64

In [96]:
reviews.loc[reviews.price.isnull()]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
56,France,"Delicious while also young and textured, this ...",Le Pavé,90,NaN,Loire Valley,Sancerre,NaN,Sauvignon Blanc,Domaine Vacheron
72,Italy,"This offers aromas of red rose, wild berry, da...",Bussia Riserva,91,NaN,Piedmont,Barolo,NaN,Nebbiolo,Silvano Bolmida
82,Italy,"Berry, baking spice, dried iris, mint and a hi...",Palliano Riserva,91,NaN,Piedmont,Roero,NaN,Nebbiolo,Ceste
116,Spain,Aromas of brandied cherry and crème de cassis ...,Dulce Tinto,86,NaN,Levante,Jumilla,NaN,Monastrell,Casa de la Ermita
...,...,...,...,...,...,...,...,...,...,...
150377,New Zealand,"Light and a bit herbal, like a pleasant St.-Jo...",Matheson,84,NaN,Hawke's Bay,NaN,NaN,Syrah,Matua Valley
150378,New Zealand,"Impressive purple color, but less intense on t...",NaN,84,NaN,Martinborough,NaN,NaN,Syrah,Kusuda
150587,Canada,"Shows pronounced oily, earthy, almost tobacco-...",Icewine,90,NaN,Ontario,Lake Erie North Shore,NaN,Riesling,Colio
150673,US,"Cherry-scented, clean and fruity. Good concent...",NaN,87,NaN,California,Dry Creek Valley,Sonoma,Zinfandel,Taft Street
150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano

In [98]:
price_not_null = reviews.loc[reviews.price.notnull()]

In [99]:
price_not_null.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [101]:
reviews['points_double'] = reviews.points * 2

In [102]:
reviews[['points_double','points']]

        points_double  points
0                 192      96
1                 192      96
2                 192      96
3                 192      96
4                 190      95
...               ...     ...
150925            182      91
150926            182      91
150927            182      91
150928            180      90
150929            180      90

[150930 rows x 2 columns]

In [105]:
# emtpy column
reviews['status'] = np.nan

In [106]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery,status
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,NaN
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,NaN
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,NaN
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,NaN
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,NaN

In [107]:
reviews['critic'] = 'everyone'
reviews['critic']

0         everyone
1         everyone
2         everyone
3         everyone
4         everyone
            ...
150925    everyone
150926    everyone
150927    everyone
150928    everyone
150929    everyone
Name: critic, Length: 150930, dtype: object

In [108]:
len(reviews)

150930

In [111]:
list(range(10,0, -2))

[10, 8, 6, 4, 2]

In [112]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0         150930
1         150929
2         150928
3         150927
4         150926
           ...
150925         5
150926         4
150927         3
150928         2
150929         1
Name: index_backwards, Length: 150930, dtype: int64